body {
    background-color: #343a40;
    margin: 0;
}

/* ACCUEIL */

body#accueil {
    margin: 0;
}

.card {
    margin-bottom: 35px;
}

.jumbotron {
    background-image: url('../../images/restaurant-jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 0px 0px 10px black;
    background-position: center;
    text-align: center;
}

.nav-item {
    color: white;
}

.navbar-default {
    background-color: black;
}

.card-title {
    color: black;
}

/* CARTE */

body#carte-background {
    background-image: url('../../images/restaurant-carte.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

h1#titre-carte {
    color: white;
    text-align: center;
    margin-top: 15px;
    text-shadow: 0px 0px 10px black;
}

.list-group {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* PHOTOS */

h1#titre-photo
{
    color: white;
    text-align: center;
    margin-top: 15px;
    text-shadow: 0px 0px 10px black;  
    margin-bottom: 50px; 
}

.photogallery {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.nav-item {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav-link {
    color: white;
}

/* RESTAURANT */

body#restaurant {
    margin: 0;
}

h1#titre-restaurant {
    color: white;
    text-align: center;
    margin-top: 15px;
    text-shadow: 0px 0px 10px black;  
    margin-bottom: 35px; 
}

h4, p#adresse, ul#horaire {
    color: white;
}

.map-change {
    margin-bottom: 35px;
}

/* CONTACT */

body#contact {
    margin: 0;
}

h1#titre-contact {
    color: white;
    text-align: center;
    margin-top: 15px;
    text-shadow: 0px 0px 10px black;  
    margin-bottom: 50px; 
}

p#contact {
    text-align: center;
    color: white;
}

label {
    color: white;
    font-weight: bold;
}

.btn-info {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.police {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.card-footer {
    position: absolute;
    width: 100%;
}

/*TEXTE FOOTER*/
.copyright 
{
    font-size: 10px;
}
